<div>
  <input [(ngModel)]="client.prenom">
  <input [(ngModel)]="client.nom">
  <input [(ngModel)]="client.ca">

  <button (click)="save()">enregistrer</button>

<!--  <div *ngIf="display()" [ngClass]="{'rouge':client.ca<0}">-->
<!--    {{client.prenom}}-->
<!--    {{client.nom}}-->
<!--    {{client.ca}}-->
<!--    <app-cacher [ca]="client.ca" [hidde]=true></app-cacher>-->
<!--  <br>-->
<!--    <app-asc-bold-element prefix="Voici le nom" [text]="client.nom"></app-asc-bold-element>-->
<!--  <br>-->
<!--    <p app-asc-tooltip app-asc-tooltip-titre="Et voilà un tooltip !">Voilà un message !</p>-->

<!--    <app-asc-tooltip app-asc-tooltip-titre="voila">coucou</app-asc-tooltip>-->


<!--  </div>-->

</div>

